Repository buggregator/server, pull requests merged in 2024-10, with the labels that each got.

#254 Improve docker image deployment action
  .github/workflows/docker-image.yml
Labels: docker

#257 Fix event clearing and deletion issues, ensuring proper cleanup and removal of events.
  app/modules/Events/Application/EventsBootloader.php
  app/modules/Events/Domain/Event.php
  app/modules/Events/Integration/CycleOrm/EventRepository.php
  app/modules/Events/Interfaces/Commands/ClearEventsHandler.php
  app/modules/Events/Interfaces/Commands/DeleteEventHandler.php
  app/src/Interfaces/Http/Controller/SettingsAction.php
  tests/Feature/Interfaces/Http/Events/ClearActionTest.php
Labels: bug, module [Events]

#258 Fixes problem with SMTP module
  app/modules/Smtp/Interfaces/TCP/ResponseMessage.php
Labels: bug, module [Smtp]
